alex.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="biblioteca">
        <complexType>
            <sequence>
                <element name="libros">
                    <complexType>
                        <sequence>
                            <element name="libro" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"></element>
                                        <element name="capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="capitulo" minOccurs="2" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="indice" type="string"></element>
                                                                <element name="sinopsis" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="href" type="string"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="titulo" type="string" use="required"></attribute>
                                                            <attribute name="num_paginas_cap" type="integer" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="[L]\d{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"></enumeration>
                                                <enumeration value="infantil"></enumeration>
                                                <enumeration value="libro_didactico"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_paginas_libro" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="revistas">
                    <complexType>
                        <sequence>
                            <element name="revista" minOccurs="1" maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"></element>
                                        <element name="num_revista" type="integer"></element>
                                        <element name="indice" type="string"></element>
                                        <element name="secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="seccion_revista" minOccurs="2" maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="nombre" type="string"></element>
                                                                <element name="contenido">
                                                                    <complexType>
                                                                        <attribute name="href" type="string"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="num_pag_seccion" type="integer" use="required"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="[R]\d{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"></enumeration>
                                                <enumeration value="corazon"></enumeration>
                                                <enumeration value="coches"></enumeration>
                                                <enumeration value="investigacion"></enumeration>
                                                <enumeration value="otras"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="num_paginas_revista" type="integer" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
                <element name="periodicos">
                    <complexType>
                        <sequence>
                            <element name="periodico">
                                <complexType>
                                    <sequence>
                                        <element name="titulo" type="string"></element>
                                        <element name="seccion_periodico" minOccurs="1" maxOccurs="unbounded">
                                            <complexType>
                                                <sequence>
                                                    <element name="articulos">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="articulo" minOccurs="1" maxOccurs="unbounded">
                                                                    <complexType>                                                          
                                                                        <attribute name="autor" type="string" use="required"></attribute>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                        </complexType>
                                                    </element>
                                                    <element name="contenido">
                                                        <complexType>
                                                            <attribute name="href" type="string"></attribute>
                                                        </complexType>
                                                    </element>
                                                </sequence>
                                                <attribute name="tipo_seccion" use="required">
                                                    <simpleType>
                                                        <restriction base="string">
                                                            <enumeration value="economica"></enumeration>
                                                            <enumeration value="opinion"></enumeration>
                                                            <enumeration value="deportes"></enumeration>
                                                            <enumeration value="nacional"></enumeration>
                                                            <enumeration value="internacional"></enumeration>
                                                        </restriction>
                                                    </simpleType>
                                                </attribute>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="id" use="required">
                                        <simpleType>
                                            <restriction base="ID">
                                                <pattern value="[P]\d{4}"></pattern>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacional"></enumeration>
                                                <enumeration value="internacional"></enumeration>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="date" use="required"></attribute>
                                </complexType>
                            </element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>
